<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<center><H2><FONT FACE="Arial" SIZE=6 COLOR=TEAL>Калькулятор</FONT></h2></center>
<body>
<center>
<form action="{% url 'result' %}" method="">
    <label>Width</label>
    <input name="width">
    <br><label>Length</label>
    <INPUT name="length">
    <br><label>Hight</label>
    <INPUT name="hight">
    <br><label>How many</label>
    <INPUT name="sum">
    <br><button type="submit">Calculet</button>
</form>


</center>
</body>
</html>
